/* CSS declarations go here */
html, body, body > div, body > div > div {
	width:100%;
	height:100%;
	padding:0px;
	margin:0px;
	background-color:#09121B;
	color:#fec524;
}

.login-container {
	width:100%;
	text-align:center;
	position:fixed;
	bottom: 25px;
}